/*全局样式*/
.left{
	float:left;
}
.right{
	float:right;
}
.relative{
	position:relative;
}
/*****************************************底部**************************************/
div.caiseline>img{
	width:100%;
}
div.footerWrap{
	width:100%;
	height:90px;
	background:#354a5f;
}
div.footerWrap>.footer{
	width:1000px;
	height:90px;
	margin:0 auto;
	color:#999;
	background:url("../img/footer/foot_bj.jpg") no-repeat top right;
}
div.footerWrap>.footer>ul{
	width:514px;
	height:55px;
	line-height:55px;
	margin:0 auto;
	display:flex;
	justify-content:space-between;
}
div.footerWrap>.footer>ul>li>a{
	color:#999;
	font-size:14px;
	padding:0 13px;
}
div.footerWrap>.footer>p{
	text-align:center;
}
div.footerWrap>.footer>p>a{
	color:#999;
}
/*****************************************主体**************************************/
div.mainWrap{
	width:100%;
	background:url("../img/register/registerBg.png") no-repeat -286px -50px;
}
div.mainWrap>.main1000{
	width:1000px;
	margin:0 auto;
	margin-top:50px;
	padding-bottom:80px;
	margin-bottom:40px;
}
div.mainWrap>.main1000>.registerWrap{
	width:696px;
	margin:0 auto;
    border:1px solid #ccc;
    border-radius:5px;
	background:#fff url("../img/register/titleBg.png") no-repeat 22px 22px;
}
div.mainWrap>.main1000>.registerWrap>.title{
	width:600px;
	height:67px;
	line-height:67px;
	margin:0 auto;
	border-bottom:1px solid #ccc;
}
div.mainWrap>.main1000>.registerWrap>.title>.left{
	font-size:18px;
}
div.mainWrap>.main1000>.registerWrap>.title>.right{
	font-size:14px;
}
div.mainWrap>.main1000>.registerWrap>.title>.right>a{
	color:#00aaee;
	margin-left:4px;
}
#regForm{
	width:696px;
}
#regForm>.register{
	width:352px;
	margin:40px 171px 20px 171px;
}
#regForm>.register>.li1>label{
	display:block;
	width:44px;
	height:38px;
	text-align:center;
	border:1px solid #ccc;
	float:left;
	border-radius:4px 0 0 4px;
	background:url("../img/register/telBg.png") no-repeat 14px 8px;
}
#regForm>.register>.li1>input{
	width:308px;
	height:38px;
	float:right;
	border-left:none;
	border-radius:0 4px 4px 0;
}
#regForm>.register>.li1>span{
	display:inline-block;
	width:118px;
	height:0px;
	overflow:hidden;
	visibility:hidden;
	line-height:22px;
	color:#ff4f3f;
	background:#fffcc8;
    border:1px solid #fff1a2;
	border-radius:3px;
	padding-left:10px;
	margin-bottom:5px;
}
#regForm>.register>.li2>label{
	display:block;
	width:44px;
	height:38px;
	text-align:center;
	border:1px solid #ccc;
	float:left;
	border-radius:4px 0 0 4px;
	background:url("../img/register/passwordBg.png") no-repeat 14px 8px;
}
#regForm>.register>.li2>input{
	width:308px;
	height:38px;
	float:right;
	border-left:none;
	border-radius:0 4px 4px 0;
}
#regForm>.register>.li2>p{
	font-size:14px;
	color:#aaa;
	height:20px;
	line-height:20px;
}
#regForm>.register>.li2>span{
	display:block;
	width:83px;
	height:0px;
	overflow:hidden;
	visibility:hidden;
	line-height:22px;
	color:#ff4f3f;
	background:#fffcc8;
    border:1px solid #fff1a2;
	border-radius:3px;
	padding-left:10px;
	margin-bottom:5px;
	margin-top:40px;
}
#regForm>.register>.li3>input{
	width:229px;
	height:38px;
	border-radius:4px;
	padding-left:10px;
	float:left;
}
#regForm>.register>.li3>div{
	width:100px;
	height:38px;
	float:right;
}
#regForm>.register>.li3>span{
	display:inline-block;
	width:100px;
	height:0px;
	overflow:hidden;
	visibility:hidden;
	line-height:22px;
	color:#ff4f3f;
	background:#fffcc8;
    border:1px solid #fff1a2;
	border-radius:3px;
	padding-left:10px;
	margin-bottom:5px;
}
#regForm>.register>.li4>span{
	display:inline-block;
	width:147px;
	height:30px;
	background:url("../img/register/phone1.png") no-repeat;
}
#regForm>.register>.li4>div>label{
	display:block;
	width:44px;
	height:38px;
	text-align:center;
	border:1px solid #ccc;
	float:left;
	border-radius:4px 0 0 4px;
	background:url("../img/register/cooperateBg.png") no-repeat 14px 8px;
}
#regForm>.register>.li4>div>input{
	width:308px;
	height:38px;
	float:right;
	border-left:none;
	border-radius:0 4px 4px 0;
}
#regForm>.register>.li5{
	margin-top:50px;
}
#regForm>.register>.li5>span{
	width:330px;
	height:38px;
	float:right;
}
#regForm>.register>.li5>span>span{
	color:#00aaee;
}
#regForm>.register>.li6{
	width:352px;
	height:38px;
	text-align:center;
	line-height:38px;
	position:relative;
}
#regForm>.register>.li6>a{
	width:352px;
	height:38px;
	text-align:center;
	line-height:38px;
	position:absolute;
	left:-1px;
	margin-top:5px;
	background:gray;
    text-align:center;
    border-radius:3px;
    color:#fff;
}