/*全局样式*/
.left{
	float:left;
}
.right{
	float:right;
}
.relative{
	position:relative;
}
/*************************************************************************************/
div.caiseline>img{
	width:100%;
}
/*************************************侧边栏***********************************/
div.g-toolbar{
	width:52px;
	height:200px;
	position:fixed;
	top:40%;
	right:50px;
}
div.g-toolbar>.g-toolbar-nav{
	width:52px;
	height:190px;
}
div.g-toolbar>.g-toolbar-nav>.toolbar-item{
	width:40px;
	height:40px;
	position:relative;
	margin:0 0 10px 12px;
	color:#fff;
	text-align:center;
	border-radius:4px;
	cursor:pointer;
}
div.g-toolbar>.g-toolbar-nav>.toolbar-item>.toolbar-item-t{
	display:block;
	width:40px;
	height:40px;
	line-height:40px;
	background:#ff4f3f;
	border-radius:4px;
	position:absolute;
}
div.g-toolbar>.g-toolbar-nav>.toolbar-item>.qq{
	width:40px;
	height:40px;
	background:#4998f4 url("../img/index/toolbar.png") no-repeat 0 -152px;
	border-radius:4px;
	position:absolute;
}
div.g-toolbar>.g-toolbar-nav>.toolbar-item:hover .qq{
	background-color:#ff4f3f;
	border-radius:0 4px 4px 0;
}
div.g-toolbar>.g-toolbar-nav>.toolbar-item:hover .toolbar-item-t{
	border-radius:4px 0 0 4px;
}
div.g-toolbar>.g-toolbar-nav>.toolbar-item:hover .toolbar-item-t{
	left:-40px;
}
div.g-toolbar>.g-toolbar-nav>.toolbar-item>.toolbar-item-c2{
	display:block;
	width:40px;
	height:40px;
	line-height:40px;
	background:#ff4f3f;
	border-radius:4px;
	position:absolute;
}
div.g-toolbar>.g-toolbar-nav>.toolbar-item>.calc{
	width:40px;
	height:40px;
	background:#4998f4 url("../img/index/toolbar.png") no-repeat 0 -256px;
	border-radius:4px;
	position:absolute;
}
div.g-toolbar>.g-toolbar-nav>.toolbar-item:hover .calc{
	background-color:#ff4f3f;
	border-radius:0 4px 4px 0;
}
div.g-toolbar>.g-toolbar-nav>.toolbar-item:hover .toolbar-item-c2{
	border-radius:4px 0 0 4px;
	left:-40px;
}
div.g-toolbar>.g-toolbar-nav>.toolbar-item>.wx-qrc{
	width:120px;
	height:140px;
	background:#ff4f3f url("../img/index/toolbar.png") no-repeat 0 0;
	border-radius:4px;
	position:absolute;
	display:none;
}
div.g-toolbar>.g-toolbar-nav>.toolbar-item>.wx{
	width:40px;
	height:40px;
	background:#4998f4 url("../img/index/toolbar.png") no-repeat 0 -464px;
	border-radius:4px;
	position:absolute;
}
div.g-toolbar>.g-toolbar-nav>.toolbar-item:hover .wx{
	background-color:#ff4f3f;
	border-radius:0 4px 4px 0;
}
div.g-toolbar>.g-toolbar-nav>.toolbar-item:hover .wx-qrc{
	border-radius:4px 0 4px 4px;
	left:-120px;
	display:block;
}
div.g-toolbar>.g-toolbar-nav>.toolbar-item>.phone-qrc{
	width:120px;
	height:140px;
	background:#ff4f3f url("../img/index/toolbar.png") no-repeat 0 -822px;
	border-radius:4px;
	position:absolute;
	display:none;
}
div.g-toolbar>.g-toolbar-nav>.toolbar-item>.phone{
	width:40px;
	height:40px;
	background:#4998f4 url("../img/index/toolbar.png") no-repeat 0 -684px;
	border-radius:4px;
	position:absolute;
}
div.g-toolbar>.g-toolbar-nav>.toolbar-item:hover .phone{
	background-color:#ff4f3f;
	border-radius:0 4px 4px 0;
}
div.g-toolbar>.g-toolbar-nav>.toolbar-item:hover .phone-qrc{
	border-radius:4px 0 4px 4px;
	left:-120px;
	display:block;
}
div.g-toolbar>.g-toolbar-nav>.toolbar-item>.totop{
	width:40px;
	height:40px;
	background:#4998f4 url("../img/index/toolbar.png") no-repeat 0 -569px;
	border-radius:4px;
	position:absolute;
}
div.g-toolbar>.g-toolbar-nav>.toolbar-item:hover .totop{
	background-color:#ff4f3f;
	border-radius:0 4px 4px 0;
}
#back{
	display:none;
}
/*************************************主体***********************************/
#projectInformation{
	width:100%;
	margin-top:30px;
    border-top:1px solid #ccc;
}
#content-box-nr-buy{
	width:100%;
}
#content-box-nr-buy>.NavigationWrap{
	width:100%;
    height:auto;
    background:#fff;
    border-bottom:1px solid #ccc;
    margin-bottom:20px;
}
#content-box-nr-buy>.NavigationWrap>.screen{
	width:1000px;
    margin:0 auto;
    position:relative;
}
#content-box-nr-buy>.NavigationWrap>.screen>.screen-nr{
	width:705px;
    height:30px;
    line-height:30px;
    border-bottom:1px solid #e7e7e7;
	box-sizing:content-box;
	padding:15px 0;
}
#content-box-nr-buy>.NavigationWrap>.screen>.screen-nr>span{
	width:110px;
    text-align:center;
	display:inline-block;
    font-size:14px;
    height:30px;
}
#content-box-nr-buy>.NavigationWrap>.screen>.screen-nr>a{
	color:#666;
    padding:0 13px;
    margin:0 15px;
	display:inline-block;
    font-size:14px;
    height:30px;
}
#content-box-nr-buy>.NavigationWrap>.screen>.screen-nr>.dq{
	background:#ff4f3f;
    color:#fff;
    border-radius:5px;
}
#content-box-nr-buy>.NavigationWrap>.screen>.borderBtm{
	border-bottom:none;
}
#content-box-nr-buy>.NavigationWrap>.screen>.hide{
	display:none;
}
#content-box-nr-buy>.NavigationWrap>.screen>.arrow{
	background:url("../img/todebts/arrowShow.png") no-repeat;
	display:block;
    width:55px;
    height:29px;
	position:absolute;
    left:445px;
    bottom:-29px;
}
#content-box-nr-buy>.NavigationWrap>.screen>.arrow1{
	background:url("../img/todebts/arrowHide.png") no-repeat;
}
#content-box-nr-buy>.news{
	width:970px;
    height:34px;
    line-height:34px;
    background:#fffcc8;
    border:1px solid #feea78;
    color:#ff4f3f;
    padding:0 15px;
    margin:34px auto 20px;
    position:relative;
}
#content-box-nr-buy>.news>.right{
	margin-right:20px;
}
#content-box-nr-buy>.news>.closeNews{
	display:block;
	width:12px;
	height:12px;
	background:url("../img/todebts/close1.png") no-repeat;
	float:right;
    position:absolute;
    right:10px;
	top:11px;
}
#content-box-nr-buy>.projectListWrap{
	width:1000px;
    margin:0 auto;
}
#content-box-nr-buy>.projectListWrap>.projectList{
	width:1000px;
    height:auto;
	background:#fff;
    margin:0 auto 20px;
    border:1px solid #ccc;
    border-radius: 5px;
}
#content-box-nr-buy>.projectListWrap>.projectList>h3{
	width:945px;
    height:58px;
    line-height:58px;
    /* border-bottom:1px solid #dfdfdf; */
    font-weight:100;
    padding-left:55px;
    background:url("../img/todebts/house.png") no-repeat 20px center;
    font-size:16px;
    color:#555;
}
#content-box-nr-buy>.projectListWrap>.projectList>h3 a{
	color:#555;
    font-size:16px;
}
#content-box-nr-buy>.projectListWrap>.projectList>.content{
	color:#666;
    font-size:14px;
    overflow:hidden;
    padding:20px;
	border-top:1px solid #dfdfdf;
}
#content-box-nr-buy>.projectListWrap>.projectList>.content ul{
	float:left;
    width:276px;
}
#content-box-nr-buy>.projectListWrap>.projectList>.content ul li{
	height:36px;
    line-height:13px;
}
#content-box-nr-buy>.projectListWrap>.projectList>.content ul li a{
	color:#666;
}
#content-box-nr-buy>.projectListWrap>.projectList>.content ul li>.red{
	color:#ff4f3f;
    font-size:22px;
	font-weight:100;
}
#content-box-nr-buy>.projectListWrap>.projectList>.content ul li .ProgressBar{
	display:inline-block;
    height:5px;
    width:100px;
    background:#ccc;
    border-radius:4px;
    margin-right:10px;
}
#content-box-nr-buy>.projectListWrap>.projectList>.content ul li .ProgressBar span{
	height:5px;
    font-size:0;
    display:block;
    background-color:#ff4f3f;
    border-radius:15px;
    margin-left:1px;
}
#content-box-nr-buy>.projectListWrap>.projectList>.content .button{
	float:left;
    margin-top:27px;
}
#content-box-nr-buy>.projectListWrap>.projectList>.content .button .investmentBtn{
	display:block;
    width:130px;
    height:35px;
    line-height:35px;
    background:#bbb;
    text-align:center;
    color:#fff;
    border-radius:5px;
}
/*************************************页码条***********************************/
#projectInformation .PageNumber{
	width:auto;
    margin:28px auto 50px;
    text-align:center;
    height:28px;
    line-height:28px;
}
#projectInformation .PageNumber a{
	margin-right:10px;
    display:inline-block;
    height:28px;
    line-height:28px;
    padding:0 15px;
    border-radius:4px;
    border:1px solid #bbb;
    color:#888;
    background:#fff;
}
#pagination>li>a.current{
	padding:0 15px;
    border-radius:3px;
    font-weight:bold;
    color:#fff;
    background-color:#00aaee;
    margin-right:10px;
    border:none;
    height:29px;
    line-height:29px;
}


#pagination>li {
    display: inline-block;
    margin-right: 3px
}
#pagination>li>a {
    border-radius: 4px;
    color: #768399;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px
}